//
//  ProdMode.xcconfig
//  FlavourApp
//
//  Created by Rajesh Shah on 28/11/19.
//  Copyright © 2019 Apple. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include “Pods/Target Support Files/Pods-FlavourApp/Pods-FlavourApp.release.xcconfig”

BASEURL = Testprodurl
